.button{
    background: #5997D5;
    border-radius: 6px;
    padding: 6px 30px;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
    border: none;
    transition: all .4s;
    margin-top: 15px;
}


.button:hover{
    border: 1px solid #5997D5;
    color: #5997D5;
    background: transparent;
    transform: translateY(-10px);
}