.checkbox,
.active {
  width: 25px;
  height: 25px;
  border: 1px solid #000000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}

.icon {
  width: 25px;
}

.checkbox input {
  appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 99999;
}
.active input{
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 99999;
}
.active {
  background: linear-gradient(
    180deg,
    rgba(4, 204, 27, 0.703) 0%,
    rgba(3, 117, 16, 0.966) 100%
  );
}
